@*@model Book
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewBag.age @ViewBag.name @ViewBag.surname</p>

<h1>@Model.Id</h1>
<h1>@Model.Name</h1>
<h1>@Model.Author</h1>*@

